.root {
  position: relative;
  padding-bottom: 1em;

  & label {
    position: absolute;
    pointer-events: none;
    left: 0.5em;
    top: 1em;
    transition: 0.2s ease all;
    color: #ccc;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
  }

  & input[type="text"] {
    background-color: transparent;
    padding: 0.75em 1.5em;
    line-height: 1.5em;
    border: 0;
    display: block;
    width: 100%;
    margin-top: 2em;
    border-bottom: 1px solid #000000;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 96%,
      #000000 4%
    );
    background-position: -100em 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-left: 0.5em;
    transition: 0.3s cubic-bezier(0.64, 0.09, 0.08, 1) all;
  }

  & input[type="text"]:focus,
  input[type="text"]:valid {
    background-position: 0 0;
  }

  & input[type="text"]:focus ~ label,
  input[type="text"]:valid ~ label {
    color: #000000;
    font-size: 0.875em;
  }

  & input[type]:focus {
    outline: none;
  }
}

.error {
  & label {
    color: #cc0033;
  }

  & input[type] {
    background: none;
    border-bottom: 1px solid #cc0033;
    outline: none;
  }

  & .error-message {
    display: inline-block;
    color: #cc0033;
  }
}
